<?xml version="1.0"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro" name="amiga">

<xacro:macro name="amiga_macro" params="amiga_prefix:='amiga__' amiga_parent:='world' mesh_base_path">
    <!-- ================== -->
    <!--     Amiga Macro    -->
    <!-- ================== -->
    <material name="LightLightGrey">
        <color rgba="0.941 0.941 0.941 1.0"/>
    </material>
    <xacro:property name="amiga_mass" value="40.0"/>
    <xacro:property name="amiga_collision_box_x" value='1.132'/>
    <xacro:property name="amiga_collision_box_y" value='0.800'/>
    <xacro:property name="amiga_collision_box_z" value='1.339'/>
    <xacro:property name="amiga_tool0_mount_rotation" value="0.0 0.0 0.0"/>
    <xacro:property name="amiga_tool0_mount_position" value="0.12825037 0.323256 0.99810607"/>

    <!-- ================== -->
    <!--       Links        -->
    <!-- ================== -->
    <link name="${amiga_prefix}base"/>

    <link name="${amiga_prefix}body">
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 ${amiga_collision_box_z}"/>
            <geometry>
                <mesh filename="file://$(find branch_detection_system_description)/meshes/base_mounts/farm-ng/amiga/frame_on_amiga_v2.STL"/>
            </geometry>
            <material name="LightLightGrey"/>
        </visual>
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <box size="${amiga_collision_box_x} ${amiga_collision_box_y} ${amiga_collision_box_z}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="${amiga_mass}"/>
            <inertia ixx="${1/12 * amiga_mass * (amiga_collision_box_y**2 + amiga_collision_box_z**2)}"
                     ixz="0.0" 
                     ixy="0.0"
                     iyy="${1/12 * amiga_mass * (amiga_collision_box_x**2 + amiga_collision_box_z**2)}"
                     iyz="0.0"
                     izz="${1/12 * amiga_mass * (amiga_collision_box_y**2 + amiga_collision_box_x**2)}"
            />
        </inertial>
    </link>

    <link name="${amiga_prefix}tool0"/>

    <!-- ================== -->
    <!--       Joints       -->
    <!-- ================== -->
    <joint name="${amiga_parent}--${amiga_prefix}base" type ="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="${amiga_parent}"/>
        <child link="${amiga_prefix}base"/>
    </joint>
    <joint name="${amiga_prefix}base--${amiga_prefix}body" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="${amiga_prefix}base"/>
        <child link="${amiga_prefix}body"/>
    </joint>
    <joint name="${amiga_prefix}body--${amiga_prefix}tool0" type="fixed">
        <origin rpy="${amiga_tool0_mount_rotation}" xyz="${amiga_tool0_mount_position}"/>
        <parent link="${amiga_prefix}body"/>
        <child link="${amiga_prefix}tool0"/>
    </joint>

</xacro:macro>

</robot>