<?xml version="1.0"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro" name="mock_pruner">

    <!-- World link -->
    <link name="world" />

    
    <!-- Args -->
    <xacro:arg name="mock_pruner_parent_link" default="world" />
    <xacro:arg name="mock_pruner_prefix" default="mock_pruner__" />
    <xacro:arg name="mesh_base_path" default="" />    
    <xacro:arg name="tof0_offset" default="0.1 0.0 0.142" />
    <xacro:arg name="tof1_offset" default="-0.1 0.0 0.142" />

    <!-- mock_pruner macro -->
    <xacro:include filename="./macro/mock_pruner_macro.urdf.xacro" />

    <xacro:mock_pruner_macro
        parent_link="$(arg mock_pruner_parent_link)"
        eef_prefix="$(arg mock_pruner_prefix)"
        tof0_offset='$(arg tof0_offset)'
        tof1_offset='$(arg tof1_offset)'
        mesh_base_path="$(arg mesh_base_path)"
        camera_offset=''
    />

    <joint name="world--$(arg mock_pruner_prefix)base" type="fixed">
        <origin xyz="0.0 180.0 0.0" rpy="0 0 0"/>
        <parent link="world" />
        <child link="$(arg mock_pruner_prefix)base" />
    </joint>


</robot>
